html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Resume Code */

div#page {
	width: 900px;
	margin-left: 26px;
	margin-bottom: 70px;
}

h1, h1#name {
	font-family: helvetica, arial;
	font-size: 16px;
	width: 200px;
	float: left;
	background-color: none;
	margin-right: 18px;
	text-align: right;
	font-weight: bold;
}

h1#name {
	margin-top: 0px;

}

#date1, #date2, #date3, #date4, #date5, #date6, #skills1, #skills2 {
	font-family: helvetica, arial;
	font-size: 13px;
	font-weight: normal;
	color: #7a7a7a;
	text-align: right;
	float: left;
	width: 207px;
	margin-right: 18px;
}

p, #contact {
	font-family: helvetica, arial;
	font-size: 13px;
	width: 444px;
	background-color: none;
	float: left;
	line-height: 16px;
}

#description1 {
	margin-top: 8px;
}

#contact {
	margin-top: 0px;
	margin-bottom: 72px;
}

li {
	margin-left: 0px;
	list-style: none;
	line-height: 16px;

}

#experience {
	margin-bottom: 18px;
}

#date1 {
	margin-top: 7px;
	margin-bottom: 36px;
}

#thirdset, #fourthset, #fifthset {
	margin-top: 18px;
}


.education {
	margin-top: 36px;
}

#sixthset {
	margin-top: 7px;
	margin-bottom: 18px;
}

#seventhset {
	margin-bottom: 18px;
}


}

#education2 span {
	margin-right: 12px;
	font-family: helvetica, arial;
	font-style: normal;
}

.clear {
	clear: both;
}

div#topbar {
	background-color: #000000;
	height: 14px;
	width: 100%;
	margin-bottom: 45px;
}

.topnav {
	height: 120px;
}

li.links {
	float: left;
}

li.logocontent {
	float: right;
	margin-top: 8px;
}

#slantp, h1.logo {
	font-family: georgia, times;
	font-size: 55px;
	color: #000000;
	margin-top: -30px;
}

#slantp {
	font-style: italic;
	margin-left: -2px;
}

.topnavlinks {
	font-family: georgia, times;
	font-style: italic;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}
a.topnavlinks:link {
	color: #000000;
}

a.topnavlinks:visited {
	color: #000000;
}

a.topnavlinks:hover {
	color: #000000;
	text-decoration: underline;
}

span {
	font-family: georgia, times;
	font-style: italic;
	font-size: 16px;
	font-color: #000000;
}


span#dots {
	font-family: georgia, times;
	font-size: 63px;
	color: #000000;
}


#head {
	width: 669px;
	height: 22px;
	background-color: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-top: 8px;
	padding-left: 0px;
	float: left;
	font-family: georgia;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	color: #a7a7a7;
	margin-bottom: 70px;

}

.location {
	font-family: georgia, times;
	font-size: 13px;
	font-style: italic;
}



.slantp, h1.logo {
	font-family: georgia, times;
	font-size: 55px;
	color: #000000;
	margin-top: -7px;
	font-weight: normal;
	
}

.slantp {
	font-style: italic;
	margin-left: -2px;
}

h1.logo {
	margin-right: 0px;
}

span#dots {
	font-family: georgia, times;
	font-size: 63px;
	color: #000000;
}

b {
	font-weight: bold;
	color: #000000;
}

.programs {
	font-family: helvetica, arial;
	font-size: 13px;
	font-style: normal;
	margin-right: 16px;
}

/* Footer */

footer {
	height: 2px;
	width: auto;
	background-color: #000000;
	margin-top: 150px;
	margin-bottom: -26px;
}

.footnavlinks {
	font-family: helvetica, arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
a.footnavlinks:link {
	color: #000000;
	
}
a.footnavlinks:visited {
	color: #000000;

}
a.footnavlinks:hover {
	color: #000000;
	text-decoration: underline;
}

.copyrighttext {
	font-family: helvetica, arial;
	font-size: 11px;
}

.copyright {
	float: left;
	margin-top:14px;
}
.footerlinksbox {
	float: right;
	margin-top:14px;
}

.footerlinks {

}
